@use "variables" as var;

@mixin for-size($size) {
  @if $size == mobile {
    @media screen and (min-width: var.$mobile) {
      @content;
    }
  }
  @if $size == tablet {
    @media screen and (min-width: var.$tablet) {
      @content;
    }
  }
  @if $size == laptop {
    @media screen and (min-width: var.$laptop) {
      @content;
    }
  }
  @if $size == desktop {
    @media screen and (min-width: var.$desktop) {
      @content;
    }
  }
}

@mixin button {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-family: var.$primary_font;
  padding: 5px;
  box-shadow: 3px 4px 0px rgb(0 0 0 / 1);
  cursor: pointer;
}
