@use "mixins";
@use "variables" as var;

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(70, 70, 208);
  font-family: var.$primary_font;
  font-size: 0.6rem;
  color: white;
  min-height: 95vh;
  height: fit-content;
  border-inline: 1px solid white;
}

.logo {
  text-shadow: 2px 3px 0px rgb(0 0 0 / 1);
  margin: 20px;
  cursor: pointer;

  @include mixins.for-size(tablet) {
    margin-top: 30px;
    font-size: 2rem;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100vw;

  .start_text {
    width: 80%;
    text-align: center;
    text-indent: 4px;
    line-height: 15px;
    padding: 10px;

    @include mixins.for-size(laptop) {
      width: 50%;
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin-bottom: 5px;
    box-shadow: 2px 3px 0px rgb(0 0 0 / 1);
  }

  &__btn {
    @include mixins.button;
  }

  &__result {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}

.searchresult {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;

  @include mixins.for-size(tablet) {
    display: flex;
    flex-direction: row;
  }
}

.moviesearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(70, 70, 208);
  width: 80%;
  height: 400px;
  margin-top: 40px;
  padding: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);

  @include mixins.for-size(tablet) {
    width: 20%;
  }

  @include mixins.for-size(laptop) {
    width: 15%;
  }

  &:hover {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(58, 58, 168);
    box-shadow: 6px 6px 0px rgb(30 30 30 / 1);
    cursor: pointer;
  }

  &__img {
    height: 300px;
    max-width: 200px;
    box-shadow: 6px 6px 0px rgb(30 30 30 / 1);

    &:hover {
      box-shadow: -2px -2px 0px rgb(0 0 0 / 1);
    }

    @include mixins.for-size(tablet) {
      height: 250px;
      max-width: 180px;
    }
  }

  &__title {
    padding: 10px;
    text-align: center;
  }

  &__year {
    margin: 0;
  }

  &__type {
    font-size: 0.5rem;
  }
}

.moviecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  gap: 20px;
  margin-top: 20px;

  @include mixins.for-size(laptop) {
    flex-direction: row;
  }
}

.img {
  &__poster {
    width: 150px;
    box-shadow: 6px 6px 0px rgb(0 0 0 / 1);

    @include mixins.for-size(tablet) {
      width: 250px;
    }
  }
}

.movie {
  border-top: 0.5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  text-indent: 4px;
  line-height: 10px;

  @include mixins.for-size(laptop) {
    border-top: none;
    justify-content: flex-start;
    width: 50vw;
  }

  &__title {
    line-height: 15px;

    @include mixins.for-size(laptop) {
      font-size: 1.5rem;
      line-height: 30px;
    }
  }

  &__year,
  &__runtime,
  &__director,
  &__actors,
  &__plot {
    font-size: 0.4rem;

    @include mixins.for-size(tablet) {
      font-size: 0.8rem;
      line-height: 20px;
    }
  }
}

.rent {
  border-top: 0.5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  @include mixins.for-size(laptop) {
    border-top: none;
    border: 1px solid white;
    background-color: brown;
  }
  &__price {
    font-size: 1.5rem;
  }

  &__btn {
    @include mixins.button;
  }
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 20vh;
  max-width: 80vw;
  background: white;
  opacity: 0.8;
  color: black;
  border: 1px solid black;
  z-index: 4;
  padding: 20px;
  text-align: center;
  line-height: 20px;

  @include mixins.for-size(laptop) {
    margin-top: 30vh;
  }
}

.nextpgbtn {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(70, 70, 208);
  font-family: var.$primary_font;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.prevpgbtn {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(70, 70, 208);
  font-family: var.$primary_font;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
