@use "variables" as var;
@use "mixins";
@use "cursor";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var.$old-secondary-color;
  width: 100vw;
  height: 8vh;
  z-index: 20;
  @include mixins.for-size(tablet) {
    max-width: 100vw;
  }

  &__linkcontainer {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__logocontainer {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    @include mixins.for-size(tablet) {
      justify-content: center;
    }
  }

  &__socialcontainer {
    display: none;
    @include mixins.for-size(tablet) {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 20px;
    }
  }

  &__link {
    font-family: var.$primary-font;
    font-size: 1rem;
    padding: 20px;
    text-decoration: none;
    color: black;
    &:hover {
      @include mixins.for-size(tablet) {
        cursor: none;
      }
      color: white;
    }
  }

  &__logo {
    width: 15px;
    &:hover {
      @include mixins.for-size(tablet) {
        cursor: none;
      }
    }
    @include mixins.for-size(tablet) {
      width: 25px;
    }
  }

  &__social {
    display: none;
    @include mixins.for-size(tablet) {
      display: flex;
      font-size: 1rem;
      padding: 10px;
      text-decoration: none;
      color: black;

      &:hover {
        @include mixins.for-size(tablet) {
          cursor: none;
        }
        color: white;
      }
      @include mixins.for-size(laptop) {
        font-size: 1.2rem;
      }
    }
  }
}

.underline {
  @include mixins.underline;

  &:hover {
    @include mixins.underline__hover;
  }
}
