@use "variables" as var;
@use "mixins";

body {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background-color: var.$old-primary-color;
  box-sizing: border-box;
}

.hidden {
  max-width: 100vw;
  overflow: hidden;

  &__under {
    @include mixins.hidden__under;
  }
  &__right {
    @include mixins.hidden__right;
  }
  &__left {
    @include mixins.hidden__left;
  }
}

.show {
  @include mixins.show;
}

.startpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100vw;
  gap: 20px;
  margin-left: 50px;

  &__header {
    position: relative;
    width: 80vw;
    font-family: var.$primary-font;
    font-size: 3rem;
    margin-bottom: 5px;
    margin-top: 200px;

    @include mixins.for-size(laptop) {
      font-size: 4rem;
    }
  }

  &__text {
    position: relative;
    width: 80vw;
    font-family: var.$secondary-font;
    font-size: 0.9rem;
    margin-top: 5px;
    @include mixins.for-size(tablet) {
      width: 50vw;
    }
    @include mixins.for-size(laptop) {
      width: 40vw;
      font-size: 1rem;
    }
  }
}
