@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@font-face {
  font-family: "Cako";
  src: url("../../Cako-Regular.woff") format("woff");
}
// breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// fonts
$primary-font: "Cako", Times, serif;
$secondary-font: "Poppins", Arial, sans-serif;
