@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

// breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// fonts
$primary-font: "Cako", serif;
$secondary-font: "Poppins", sans-serif;
