@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@font-face {
  font-family: "Cako";
  src: url("../../Cako-Regular.woff") format("woff");
}
// breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// fonts
$primary-font: "Cako", Times, serif;
$secondary-font: "Poppins", Arial, sans-serif;

// background-colors
$primary-color: rgb(79, 149, 255);
$secondary-color: rgb(111, 163, 254);

$old-primary-color: rgb(58, 122, 250);
$old-secondary-color: rgb(63, 134, 250);
